.banner-image {
  background: #000;
}

.banner-image div {
  background-image: url("../../../images/banner.png");
  display: block;
  height: 862px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.banner-heading {
  white-space: pre-wrap;
  position: relative;
  bottom: 650px;
  color: white;
}

.banner h1 {
  font-size: 80px;
  font-family: libre baskerville;
  color: #fff;
  position: relative;
  width: 383px;
  height: 96px;
  left: 118px;
}

.banner p {
  font-size: 24px;
  font-family: Nunito;
  line-height: 32px;
  color: #fff;
  width: 641px;
  position: relative;
  height: 64px;
  text-align: start;
  left: 151px;
}

@media (max-width: 688px) and (min-width: 320px) {
  .banner {
    width: "300px";
  }
  .banner-heading h1 {
    margin-left: -190px;
    font-size: 50px;
    margin-bottom: "50px";
  }
  .banner-heading p {
    margin-left: -125px;
    width: 320px;
  }
}
